#logo_wrapper{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	width: 300px;
	height: 300px;
}
#logo_top{
	position: absolute;
	height: 70%;
	width: 100%;
	transition: 1s;
}
#logo_bot{
	position: absolute;
	height: 30%;
	width: 100%;
	bottom: 0;
	transition: 0.5s;
}