#screen{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 10%;
	bottom: 0;
	width: 80%;
	height: 50%;
	border-radius: 4px;
	background-color: #ddd;
	overflow: hidden;
}
#lbar{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 65%;
	bottom: 0;
	width: 80%;
	height: 30px;
	border-radius: 4px;
	background-color: #ddd;
	overflow: hidden;
	
}
#lbarInner{
	height: 30px;
	width: 0%;
	background-color: #4F8A9C;
	color: white;
	text-align: center;
	line-height: 30px;
}