#stage{
	background-color: #222;
}
.bgImg{
	position: absolute;
	height: 100%;
	/*center absolute an fixed divs*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn:active{
	transform: scale(1.025);
}
#lCont{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	overflow: hidden;
	color: white;
	text-align: left;
}
#t1{
	font-size: 18px;
	line-height: 30px;
}
#t2{
	font-size: 15px;
	line-height: 20px;
}
.btnCont{
	position: fixed;
	min-width: 90%;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
}
.l{
	float: left;
	background: #D0CECE;
	color: #222;
	opacity: 0.75;
}
.r{
	float: right;
}
.cCont{
	position: fixed;
	width: 70px;
	height: 12px;
	left: 0;
	right: 0;
	bottom: 100px;
	margin: 0 auto;
}
.circle{
	box-sizing: border-box;
	float: left;
	margin: 1px;
	height: 12px;
    width: 12px;
	border-radius: 50%;
	border: 1px solid white;
}