.button{
	position: absolute;
	height: 50px;
	width: 75%;
	bottom: 70px;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	align-self: center;
	background: #4F8A9C;
	opacity: 0.9;
	border-radius: 4px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
  }
.button:active{
	transform: scale(1.025);
}
#lcont{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 120px;
	width: 75%;
	margin: auto;
	color: white;
	transition: 1s;
}
#l1{
	font-size: 18px;
	line-height: 40px;
	text-align: left;
}
#l2{
	font-size: 15px;
	line-height: 20px;
	text-align: left;
}
#darker{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.4;
	transition: 1s;
}