body{
    margin: 0;
    padding: 0;
    background-color: #f2f3f1;
    font-family: Arial, Helvetica, sans-serif;
}
#topbar{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #0084ff;
    color: white;
    box-shadow: 0px 0px 2px black;
}
#menubutton{
    padding: 5px;
    width: 32px;
    height: 32px;
}
label{
    position: absolute;
    top: 5px;
    left: 100px;
    font-size: 32px;
}
#menubutton:hover{
    box-shadow: inset 0px 0px 2px black;
}
#menu{
    position: fixed;
    width: 100px;
    height: 100%;
    top: 42px;
    left: 0px;
    z-index: 9;
    background-color: #0069cc;
    transition: 0.4s;
}